div{
    box-sizing: border-box;
}
body{
    margin: 0px;
}

.main-background{
    width: 100%;
    height: 500px;
    background-image: url(../img/bg2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 1px;
}
.main-title{
    color: white;
    font-size: 40px;
    margin-top: 200px;
    text-align: center;

}

.main-content{
    color: white;
    font-size: 15px;
}

.main-btn{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 5px;
    background-color: white;
    font-size: 15px;
    margin-top: 30px;
}
.sub-box{
    width: 80%;
    max-width: 600px;
    height: 150px;
    position: relative;
    left: 0;
    right: 0;
    bottom: 300px;
    margin: auto;
    text-align: center;
    padding: 20px;
    background-color: #eee;
    display: block;
}

input[type=text]{
    padding : 10px;
    font-size: 20px;
    border:2px solid black;
    border-radius: 5px;
}