.container{
    max-width: 1000px;
    width: 80%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.container div{
    float:left;
    width: 25%;
}

.clear-both{
    clear: both;
}

@media screen and (max-width : 768px){
    
    .container div{
        width: 50%;
    }
}

@media screen and (max-width : 576px){
    .container div{
        width: 100%;
    }
}

.container i{
    background-color: burlywood;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    padding-top: 25px;
    box-sizing: border-box;
    color: white;
    margin-top: 20px;

}