body{
    margin: 0;
}
div{
    box-sizing: border-box;
}

h1{
    font-size: 30px;
}
h4{
    font-size: 22px;
}

p,span,h1,h2,h3,h4{
    transform: rotate(0.03deg);
}

.main-background {
    background-image: linear-gradient(to bottom, #499add, #4e61c0);
    height: 550px;
    padding: 20px;
    color: white;
  }
  .main-container {
    max-width: 1200px;
    margin: auto;
  } 
  .main-text {
    float: left;
    margin-top: 50px;
  }
  .main-iphone {
    width: 400px;
    float: right;
    margin-top: 95px;
  }

  .btn {
    padding: 15px 20px;
    font-size: 16px;
    font-family: 'nanumsquare';
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .btn-black {
    background: #444;
    color: white;
  }
  .btn-black:hover {
      background-color: cornsilk;
    }
    .btn-black:active {
      background-color: cornflowerblue;
  }

  @media screen and (max-width : 992px) {
    .main-iphone {
      width: 260px;
      display: block;
      float: none;
      margin: auto;
      margin-top: 42px;
    }
    .main-text {
      float: none;
      margin-top: 50px;
      text-align: center;
    }
  }