main-container{
}

.container{
    max-width: 1000px;
    width: 80%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.container div{
    float:left;
    width: 25%;
}

.clear-both{
    clear: both;
}

.container i{
    background-color: burlywood;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    padding-top: 25px;
    box-sizing: border-box;
    color: white;
    margin-top: 20px;

}

.shop-bg{
    background-color: #eee;
    padding:20px;
    display: flex;
    width: 100%;
}

.shop-container{
    display: flex;
    width: 90%;
    margin:auto;
}
.shop-item{
    width: 33%;
    padding:10px;

}
.shop-item img{
    width:100%;

}

@media screen and (max-width : 768px){
    
    .container div{
        width: 50%;
    }
}

@media screen and (max-width : 576px){
    .container div{
        width: 100%;
    }
}

