.gird-container{
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    grid-template-areas: 
    "헤더 헤더 헤더 헤더"
    "사이드 섹션 섹션 섹션"
    "사이드 섹션 섹션 섹션"
}

.gird-container div{
    border : 1px solid black;
}

.gird-nav{
    grid-area: 헤더;

}

.grid-sidebar{
    grid-area: 사이드;
}

.grid-section{
    grid-area: 섹션;
}

@media screen and (max-width:768px){
    .gird-container{
        display: grid;
        grid-template-areas: 
        "헤더"
        "헤더"
        "헤더"
        "헤더"
        "사이드"
        "사이드"
        "섹션"
        "섹션"
        "섹션"
        "섹션"
        "섹션"
        "섹션"
    }
}